h1{
    text-align: center;
}
.mainframe{
    width: 300px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: black
}
.displaybox{
    width: 280px;
    height: 50px;
    border: 1px solid black;
    margin: 10px 0;
    text-align: right;
    padding: 10px;
    background-color: white;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.buttons button{
    padding: 10px;
    font-size: 20px;
}
button:hover{
    background-color:orangered;
    color: white;
}
button:active{
    background-color: white;
    color: black;
}